<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row w-100">
    <h1 class="text-center mb-4">New Campground</h1>
    <div class="col-md-6 offset-md-3">
      <div class="card shadow w-100">
        
          <div class="card-shadow">
            <div class="card-body">
              <form method="post" action="/campgrounds" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                <label class="form-label" for="title">Campground name:</label>
                <input class="form-control" name="campground[title]" id="title" type="text" required/>
                <div class="valid-feedback">
                  Looks Good!
                </div>
                
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Campground location:</label>
                <input class="form-control" name="campground[location]" id="location" type="text" required/>
                <div class="valid-feedback">
                  Looks Good!
                </div>
                
            </div>
        
        
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price per night:</label>
            <div class="input-group ">
                <span class="input-group-text" id="price-label">£</span>
                <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                <div class="valid-feedback">
                  Looks Good!
                </div>
              </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="campground[description]" id="image" type="text" required></textarea> 
                <div class="valid-feedback">
                  Looks Good!
                </div>
            </div>
            
            <div class="mb-3 custom-file">
              <label for="image" class="form-label custom-file-label">Upload Images:</label>
              <input class="form-control custom-file-input" type="file" id="image" name="image" multiple>
            </div>
        
            
            <div class="mb-3">
              <div class="d-grid gap-*">
                <button class="btn btn-success">Add Campground</button>
              
               
            </div>
            </form>
            </div>
          </div>
          </div>
             
    
        </div>
        <a href="/campgrounds">All Campgrounds</a>
      </div>
    </div>
  </div>
</div>


  
