<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
               <form method="post" action="/campgrounds">
        <div class="mb-3">
        <label class="form-label" for="title">Campground name:</label>
        <input class="form-control" name="campground[title]" id="title" type="text"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="location">Campground location:</label>
        <input class="form-control" name="campground[location]" id="location" type="text" />
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input class="form-control" name="campground[image]" id="image" type="text" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="price">Campground Price per night:</label>
    <div class="input-group ">
        <span class="input-group-text" id="price-label">£</span>
        <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label">
      </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="campground[description]" id="image" type="text"></textarea> 
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
    </div>
    </form>
    <a href="/campgrounds">Cancel and go back to Main page</a>
        </div>
    </div>
 
