<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row w-100">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow w-100">
        <img src="https://hips.hearstapps.com/hmg-prod/images/camping-ideas-1561136670.jpg?crop=0.669xw:1.00xh;0.166xw,0&resize=1200:*" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title mb-3">Login</h5>
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="username" autofocus required>
                <div class="valid-feedback">
                    Looks Good!
                  </div>
            </div>
        
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
            <div class="valid-feedback">
                Looks Good!
              </div>
        </div>
        <div class="d-grid gap-*">
          <button class="btn btn-success">Login</button>
        </div>
        
        </form>
        </div>
        
      </div>
    </div>
  </div>
</div>

